.headlinecontainer {
    text-align: center;
    padding: 130px 0;
    margin-left: 32px; 
}
.headline-container2 {
    float: right;
    padding: 130px 0;
    margin-left: 400px;
    margin-right: 45px;  
}
.headline-container3 {
    float: right;
    padding: 130px 0;
    margin-left: 400px;
    margin-right: 45px;  
}
.headline-container4 {
    text-align: center;
    padding: 130px 0;
    margin-left: 32px; 
}
.main {
    font-family: "Libre Baskerville"; 
    font-size: 48.83px;
    font-weight: 400;
    color: #454545;
    margin-top: -35px;
}
.main2 {
    font-size: 48.83px;
    font-family: Montserrat;
    font-weight: 300;
    color: #454545;  
}
.intro {
    font-family: Montserrat;
    font-size: 39.06px;
    color: #293aab; 
    font-weight: 200;
}
.intro2 {
    font-family: Montserrat;
    font-size: 39.06px;
    color:#293aab; 
    font-weight: 200;
}
nav {
    float: right;
    margin: 48px 62px 0 0;
}
nav a {
    padding: 14px 16px;
    font-size: 16px;
    letter-spacing: 1.4px;
    font-weight: 400;
    font-family: montserrat;
    color:#546af7;
    text-decoration: none;    
}
    
    a:hover {
	color: #293aab;
    border-bottom: 2px solid #f7d154; 
    text-decoration: none;  
}
 
 
P.blocktext {
    margin-top: -30px;
    font-family: "Libre Baskerville"; 
    font-size: 14px;
    line-height: 1.75;
    font-weight: 400;
    color: #454545;
    width: 38em;
}
 
body {font-family: "Libre Baskerville", Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color:#F7E154;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #293aab;
  }
label {
    font-family: "libre Baskerville";
    font-size: 16px;
}
/* Style all font awesome icons */
.fa {
    padding: 2px;
    font-size: 55px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 85px 2px;
    border-radius: 50%;
}
  
  /* Add a hover effect if you want */
  .fa:hover {
    background:#293aab;
    color: white; 
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background:#546af7; 
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background:#546af7;
    color: white;
  }

   /* Instagram */
  .fa-instagram {
    background:#546af7; 
    color: white;
  }
  footer {
      text-align: center;
  }
   
 